[submodule "public"]
	path = public
	url = git@github.com:MaxraySavage/MaxraySavage.github.io.git
	branch = main
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
